* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #9271F6;
    color: #ffffff;
    line-height: 1.6;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #ffffff;
    margin-bottom: 5px;
}

h2 {
    color: #dceaed;
    margin-bottom: 30px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 1000px;
    margin: auto;
}

/* รูปขนาดเท่ากัน */
.image-container img {
    width: 25%;
    /* 4 รูปพอดีแถว */
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.download-section {
    margin-top: 40px;
    text-align: center;
}

.floating-img {
    width: 120px;
    position: fixed;
    animation: fly 6s ease-in-out infinite;
    z-index: 10;
}

.img1 {
    bottom: 20px;
    right: 20px;
    animation-delay: 0s;
}

.img2 {
    bottom: 150px;
    left: 20px;
    animation-delay: 1.5s;
}

.img3 {
    top: 120px;
    right: 40px;
    animation-delay: 3s;
}

.img4 {
    top: 300px;
    left: 50px;
    animation-delay: 4.5s;
}

@keyframes fly {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(-20px, -15px) rotate(4deg);
    }

    50% {
        transform: translate(-35px, 0) rotate(-4deg);
    }

    75% {
        transform: translate(-20px, 15px) rotate(3deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.25);
    }

    60% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.bounce {
    animation: bounce 0.4s ease;
}

.floating-img {
    pointer-events: auto;
    cursor: pointer;
}



.download-section {
    margin: 40px 0;
    text-align: center;
}

.download-btn {
    display: inline-block;
    padding: 14px 30px;

    background: linear-gradient(135deg, #CA59DF, #9271F6);
    color: #ffffff;

    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;

    border-radius: 40px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.download-btn:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.35);
    background: linear-gradient(135deg, #F58EBD, #B046AB);
}

.download-btn:active {
    transform: scale(0.95);
}

.download-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent,
            rgba(255, 255, 255, 0.5),
            transparent);
    transition: 0.5s;
}

.download-btn:hover::after {
    left: 100%;
}

